server:
  port: 8080

spring:
  application:
    name: "payment-service-app"
  datasource:
    url: jdbc:postgresql://localhost:35432/payment-db
    username: admin
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect